  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
 
/*-- home blade --*/

.form-pembayaran .form-floating:focus-within{
  z-index: 2;
}

.form-pembayaran text{
  text-align: left;
}

.form-pembayaran input[type="date"]{
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.form-pembayaran input[type="tempat"]{
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}